body {
    background-image: url(./imgs/background.png);
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 2rem !important;
}

.options {
    width: 100%;
    color: #6066D0;
    border: 2px solid rgba(96, 102, 208, 0.7);
    word-spacing: 1rem;
}

small {
    word-spacing: normal;
}

.options:hover {
    background-color: #F9A826;
    color: #FFF;
}

.onFalse {
    background-color: #EA8282 !important;
    border: 2px solid transparent !important;
}

.onTrue {
    background-color: #60BF88 !important;
    border: 2px solid transparent !important;
}

#boton-next {
    width: 100%;
    top: 20px;
}

#buttonNext {
    background-color: #F9A826;
}

#score {
    color: #6FCF97;
}

#tryAgain:hover {
    background-color: #F9A826;
    border: 2px solid transparent !important;
    color: #FFF !important;
}