body {
    background-image: url(./imgs/background.png);
    background-size: 100%;
    font-family: 'Poppins', sans-serif;
}


.options {
    width: 100%;
    border: 2px solid rgba(96, 102, 208, 0.7);
}

.options:hover {
    background-color: #F9A826;
}

.on {
    background-color: #EA8282 !important;
    border: 0;
}

.onTrue {
    background-color: #60BF88 !important;
    border: 0;
}

#boton-next {
    width: 100%; 
    top: 20px;
}

#buttonNext {
    background-color:#F9A826;
}